* {
  box-sizing: border-box;
}

h1 {
font-size: 3rem;
color: ;
}

body{
  color: rgb(23, 21, 22);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 50px;

  
}